<%- include('../layout/header'); -%>

<h1>Alla caféer</h1>

<% if (cafees.length > 0) { %>
	<ul>
		<% cafees.forEach(cafee => { %>
			<li><a href="/cafees/<%= cafee.id %>"><%= cafee.name %></a></li>
		<% }); %>
	</ul>
<% } else { %>
	<p>Ledsen, det finns inga caféer för tillfället. Varför inte skapa den första?</p>
<% } %>

<div class="mt-4">
	<a href="/cafees/create" class="btn btn-primary">Skapa nytt café</a>
</div>

<%- include('../layout/footer'); -%>
