<%- include('../layout/header'); -%>

<h1>HERE BE NAME OF CAFÉ</h1>

<ul>
	<li>Address: HERE BE ADDRESS</li>
	<li>City: HERE BE CITY</li>
</ul>

<a href="/cafees/">Back to list of cafées</a>

<%- include('../layout/footer'); -%>
